@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", sans-serif;
  display: flex;

  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100vw;
  height: 100vh;

  background: #413f61;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 3rem;

  width: 60%;

  background: #a3de97;

  padding: 0.75rem;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);

  border-radius: 5px;
}

.container > h1 {
  padding: 0.75rem;
}

.controls-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.75rem;
  width: 60%;

  padding: 0.75rem;
}

.controls-container > input {
  padding: 0.5rem;
  border: 0;
  outline: 0;
  flex: 2;
  transition: box-shadow ease-in-out 80ms;
}

.controls-container > input:focus {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.controls-container > button {
  flex: 1;
  padding: 0.75rem;
  outline: 0;
  border: 0;
  transition: transform ease-in-out 50ms;
  background: #fff;
}

.controls-container > button:hover {
  cursor: pointer;
}

.controls-container > button:active {
  transform: scale(0.99);
}

.status-box {
  margin-top: 1rem;
  padding: 0.75rem;
  width: 60%;
  background-color: #9692e0;
  color: #333;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
